body {
    background-color: aliceblue;
}


.box {
    width: 400px;
    height: 200px;
    background-color: gray;
    border: 1px solid gray;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    position: absolute;
    top: 80px;     /* move down */
    right: 200px;  /* move from right */

}
.link {
    
    top:20px;
    display:flex;
    gap:10px;
    right:240px;
    position:absolute;
    font-family:Roboto;
}
a {
    text-decoration:none;
    color:white;
}



.container {
 
    background-color: #1F2937;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative; /* anchor for the box */
}



h3 {
    font-family:Roboto;
    color:white;
    padding-left:100px;
}
p {
    font-size:46px;
    color:white;
    padding-left:90px;
    margin:5px;
}
.content {
    font-family:Roboto;
    color: #F9FAF8;
    font-size:18px;
    padding-left:100px;
}
button {
    background-color: blue;
    border-radius:10px;
    color:white;
   
    padding:10px;
    text-align:left;
    margin-top:20px;
    margin-right:1330px; /*ha*/
    margin-left:100px;
}
.subtext {
    height:300px;
    background-color:white;
    border:1px solid white;
}
h2 {
    text-align:center;
}
.Wrapper {
    display:flex;
    justify-content: center;
    gap:30px;
}
.one {
    border:5px solid blue;
    width: 100px;
    height:100px;
    border-radius: 10px;

}
.wrapper {
    display: flex;
    justify-content:center;
    gap:30px;
}
.two {
    color:red;
    max-width:100px;
    padding-top:5px;
    padding-left:10px;
}
.quote {
    height:300px;
    border:1px solid aliceblue;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:36px;
    background-color:lightgray;
   
    font-style:italic;
}
.Quote {
    min-width:200px;
    color:black;
}
.three {
    font-size:20px;
    top:850px;
    right:200px;
    color:black;
    position:absolute;
}
.Action {
    height:200px;
    border:1px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
}
.Call {
    border: 1px solid blue;
    padding:50px;
    padding-right:300px;
    color:white;
    background-color:blue;
    
}
.Service {
    position:absolute;
    right: 500px;
    border:3px solid white;
    padding:5px;
    color:white;
}
.footer {

    background-color: black;
    height: 50px;
    width: 100%;       /* Make sure it spans the entire width */
    position: fixed;   /* Fix it to the viewport */
    bottom: 0;         /* Stick it to the bottom */
    left: 0;           /* Align it to the left edge */
   /* Ensure it stays above other content */


}
.foot {
    text-align:center;
    color:red;
    padding-top: 0.09px;
   
}